<br>
<br>
<div class="container" id="main">
  <br>
  <br>
  <div class="text-center">
    <h3 class="pink-text mb-5"><strong>New Hospital</strong></h3>
  </div>
  <form>
    <div class="md-form">
      <div class="col-md-6">
        <i><img src="../../../assets/img/hospital.png"></i>
        <br>
        <input class="form-control" type="text" id="txtHospitalNameAddHospital" name="hospitalNameAddHospital"
               placeholder="  Enter Hospital Name...">
      </div>
    </div>
    <br>
    <div class="col-md-6">
      <button class="button add" id="btnAddHospital">Confirm</button>
      <button class="button cancel" id="btnCancelAddHospital">Cancel</button>
    </div>
  </form>
  <br>
</div>
<br>
<br>
