<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/img/doc2.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">About Us</span>
            </h2>
            <p>Digital Health Private Limited is Sri Lanka’s pioneering digital health solutions service
              provider, offering
              medical services to subscribers from the convenience of their mobile phone and website.
            </p>
            <p>
              A joint venture between Sri Lanka’s premier telecommunications service provider, Dialog
              Axiata PLC,
              and healthcare group, Asiri Hospital Holdings PLC, Digital Health will implement and develop
              state-of-the-art
              integrated e-commerce infrastructure for Sri Lanka’s healthcare sector, through the
              provision of digitally-enabled
              medical appointment management for healthcare providers, extending to several innovative new
              elements for Sri Lanka’s digital health care value chain.
            </p>
            <p>
              Customers can access Digital Health’s services by simply dialing 885 from their Dialog,
              Etisalat, Airtel, Hutch,
              Mobitel Mobile phones Or Lanka Bell, Dialog CDMA connections, by visiting
              www.doc-channelling.lk or downloading the
              Doc885 Android Application. The service is open and available to all 22 million plus Sri
              Lankans, and
              Digital Health aims to add all registered and accredited private medical and healthcare
              institutions around the
              island on to its platform, to ensure a comprehensive and far reaching solution.
            </p>
            <p>
              Digital Health aims to transform the health care service sector and experience for all Sri
              Lankans, and serve
              as the benchmark integrated e-commerce healthcare solution in the Asia-Pacific region.
            </p>
            <p>
              Dialog Axiata PLC operates Sri Lanka’s largest and fastest growing mobile telecommunications
              network,
              and has been at the forefront of innovation in the mobile industry in Sri Lanka since the
              late 90’s, propelling
              the nation’s mobile telephony infrastructure to a level of advancement on par with the
              developed world.
            </p>
            <p>
              The Asiri Group of Hospitals is renowned for offering Sri Lanka’s most empathetic,
              technologically-driven
              and cutting-edge health care service. With a history of providing a number of ‘Firsts’ to
              the Sri Lankan healthcare sector,
              the group is poised to offer an even greater array of services while catering to the
              healthcare needs of the South Asian region.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Tel Communication Partners</span>
            </h2>
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/img/tel.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Banking Partners</span>
            </h2>
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/img/bnk.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
