<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3">The easy way to channel your doctor</span>
  <span class="site-heading-lower">Doc-channelling</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item px-lg-4">
          <div class="dropdown">
            <a class="nav-link text-uppercase text-expanded" href="">Doctor</a>
            <div class="dropdown-content">
              <a href="#">Add Doctor</a>
              <a href="#">Update Doctor</a>
              <a href="#">Delete Doctor</a>
            </div>
          </div>
        </li>
        <li class="nav-item px-lg-4">
          <div class="dropdown">
            <a class="nav-link text-uppercase text-expanded" href="">Hospital</a>
            <div class="dropdown-content">
              <a href="#">Add Hospital</a>
              <a href="#">Delete Hospital</a>
            </div>
          </div>
        </li>
        <li class="nav-item px-lg-4">
          <div class="dropdown">
            <a class="nav-link text-uppercase text-expanded" href="">Schedule</a>
            <div class="dropdown-content">
              <a href="#">Add Schedule</a>
              <a href="#">Update Schedule</a>
              <a href="#">Delete Schedule</a>
            </div>
          </div>
        </li>
        <li class="nav-item px-lg-4">
          <div class="dropdown">
            <a class="nav-link text-uppercase text-expanded" href="">Appointment</a>
            <div class="dropdown-content">
              <a href="#">Add Appointment</a>
              <a href="#">Postpone Appointment</a>
              <a href="#">Delete Appointment</a>
            </div>
          </div>
        </li>
        <li class="nav-item px-lg-4">
          <div class="dropdown">
            <a class="nav-link text-uppercase text-expanded" href="">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/img/doc2.jpg" alt="">
  </div>
</section>

<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0 small">Copyright &copy; Your Website 2018</p>
  </div>
</footer>
