
<!--<section class="page-section clearfix">-->
  <!--<div class="container">-->
    <!--<div class="intro">-->
      <!--<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/doc1.jpg" alt="">-->
      <!--<div class="intro-text left-0 text-center bg-faded p-5 rounded">-->
        <!--<h2 class="section-heading mb-4">-->
        <!--</h2>-->
        <!--<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/vision.jpg" alt="">-->
        <!--<div class="intro-button mx-auto">-->
          <!--<a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--<section class="page-section cta">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-xl-9 mx-auto">-->
        <!--<div class="cta-inner text-center rounded">-->
          <!--<h2 class="section-heading mb-4">-->
            <!--<span class="section-heading-upper">Our Promise</span>-->
            <!--<span class="section-heading-lower">To You</span>-->
          <!--</h2>-->
          <!--<p class="mb-0">When you visit our site to make appointment, we are dedicated to providing you with-->
            <!--friendly service. If you are not satisfied, please let us know and we will do whatever we can to-->
            <!--make things right!</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--<br>-->

<!--<section class="page-section about-heading">-->
  <!--<div class="container">-->
    <!--<div class="about-heading-content">-->
      <!--<div class="row">-->
        <!--<div class="col-xl-9 col-lg-10 mx-auto">-->
          <!--<div class="bg-faded rounded p-5">-->
            <!--<h2 class="section-heading mb-4">-->
              <!--<span class="section-heading-lower">Rules and Regulations</span>-->
            <!--</h2>-->
            <!--<p>-->
              <!--Make your appointment ATLEAST before a week .-->
              <!--We’ll refund only half of your payment if you cancel the appointment before 3 days of the relevant date ,-->
              <!--otherwise you can’t get any payment.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->


<app-add-doctor></app-add-doctor>
