<br>
<div class="container" id="main">
  <form >
    <div class="form-group row">
      <div class="col-md-4">
        <label for="docname"><i><img src="../../../assets/img/doctor.png"></i> Doctor Name</label>
        <input class="form-control" type="text" id="dname" name="dname" placeholder="Enter doctor Name" autofocus>
      </div>
      <div class="col-md-2"  hidden="hidden">
        <input id="docname" class="form-control" type="text" name="did">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="dname"><i><img src="../../../assets/img/speciality.png"></i>  Speciality</label>
        <input class="form-control" type="text" id="speciality" name="speciality" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="dname"><i><img src="../../../assets/img/hospital.png"></i>  Hospital</label>
        <input class="form-control" type="text" id="hospital" name="hospital" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="dname"><i><img src="../../../assets/img/regNo.png"></i>  Registration No</label>
        <input class="form-control" type="text" id="rno" name="rno" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="dname"><i><img src="../../../assets/img/address.png"></i>  Address</label>
        <input class="form-control" type="text" id="address" name="address" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="dname"><i><img src="../../../assets/img/nic.png"></i>  NIC</label>
        <input class="form-control" type="text" id="nic" name="nic" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="dname"><i><img src="../../../assets/img/contact.png"></i>  Contact</label>
        <input class="form-control" type="text" id="contact" name="contact" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <button class="button cancel">Cancel</button>
        <button class="button delete">Delete</button>
      </div>
    </div>
  </form>
</div>
