<br>
<br>
<div class="container" id="main">
  <br>
  <form>
    <div class="form-group row">
      <div class="col-md-8">
        <label><i><img src="../../../assets/img/doctor.png"></i> Name : </label>
        <input class="form-control" type="text" name="name" placeholder="Enter Doctor Name ... ">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-8">
        <label><i><img src="../../../assets/img/address.png"></i> Address : </label>
        <input class="form-control" type="text" name="address" placeholder="Enter Address ... ">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label><i><img src="../../../assets/img/nic.png"></i> NIC No : </label>
        <input class="form-control" type="text" name="nic"
               placeholder="Enter NIC NO ...">
      </div>
    <!--</div>-->


    <!--<div class="form-group row">-->
      <div class="col-md-4">
        <label><i><img src="../../../assets/img/contact.png"></i> Contact : </label>
        <input class="form-control" type="text" name="contact"
               placeholder="Enter Contact Details ...">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label><i><img src="../../../assets/img/regNo.png"></i> Registration No : </label>
        <input class="form-control" type="text" name="regNo"
               placeholder="Enter Government Reg No ...">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label><i><img src="../../../assets/img/hospital.png"></i> Hospital : </label>
        <select class="form-control" name="hospital">
          <option>Any Hospital</option>
          <option value="arogya"> Arogya Hospitals (Pvt) Ltd Gampaha</option>
          <option value="asia">Asia Hospital - Maharagama</option>
          <option value="asiri">Asiri Central Hospital - Norris Canal Road-Colombo 10</option>
          <option value="asiri_Surgical"> Asiri Surgical Hospital - Kirimandala Mw - Colombo 05</option>
          <option value="balasooriya"> Balasooriya Hospital Puttalam</option>
          <option value="blue"> Blue Cross Medical Centre (Pvt) Ltd</option>
          <option value="browns">Browns Hospitals - Ragama</option>
          <option value="cdem">CDEM Hospital</option>
          <option value="ceylinco"> Ceylinco Healthcare Centre Colombo 02</option>
          <option value="ceymed">Ceymed Healthcare Services (Pvt) Ltd</option>
          <option value="child"> Child Eye - Rajagiriya</option>
          <option value="christell"> Christell Skin Clinic - Colombo 04</option>
          <option value=" dr_neville"> Dr. Neville Fernando Teaching Hospital - Malabe</option>
          <option value="durdans"> Durdans Hospital</option>
          <option value="family"> Family Dental Services - Colombo 03</option>
          <option value="golden"> Golden Key Hospitals Limited Rajagiriya</option>
          <option value="gunawardhana"> Gunawardhana Ayurveda Hospital-Anuradhapura</option>
          <option value="healthy">Healthy Life Clinic</option>
        </select>
      </div>
      <div class="col-md-2" hidden="hidden">
        <input class="form-control" type="text" name="hosId">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label for="spe"><i><img src="../../../assets/img/speciality.png"></i> Specialty : </label>
        <select class="form-control" name="specialty">
          <option id="spe"> Any Specialization</option>
          <option value="acupuncture"> Acupuncture</option>
          <option value="allergy"> Allergy And Immunology</option>
          <option value="allergy_specialist"> Allergy Specialist</option>
          <option value="anaesthetist"> Anaesthetist and Intensivist</option>
          <option value="andrology"> Andrology And Male Fertility</option>
          <option value="applied"> Applied Psychologist</option>
          <option value="arthritis"> Arthritis</option>
          <option value="audiologist"> Audiologist</option>
          <option value="ayurvedic"> Ayurvedic Cardiologist</option>
          <option value="ayurvedic_skin"> Ayurvedic Skin Specialist</option>
          <option value="back_pain"> Back Pain Treatment</option>
          <option value="bacteriologist"> Bacteriologist</option>
          <option value="behaviour"> Behaviour Therapist</option>
          <option value="breast"> Breast Feeding</option>
          <option value="cardiologist"> Cardiologist</option>
        </select>
      </div>
      <div class="col-md-2" hidden="hidden">
        <input class="form-control" type="text" name="speId">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <button class="button add">Add</button>
        <button class="button cancel">Cancel</button>
        <button class="button delete">Delete</button>
      </div>
    </div>
    <br>
  </form>
</div>
<br>
<br>
