<!--<app-home-hedder></app-home-hedder>-->
<br>
<br>
<section class="page-section about-heading">
  <div class="container">
    <div class="card">
      <div class="card-body mx-4">
        <div class="text-center">
          <h3 class="pink-text mb-5"><strong>Account Setting</strong></h3>
        </div>
        <form>
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="txtUsername" class="form-control" placeholder="Enter User Name">
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="email" id="txtOldPassword" class="form-control" placeholder="Enter Old Password">
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="email" id="txtPassword" class="form-control" placeholder="Enter New Password">
          </div>
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="email" id="txtConfirmPassword" class="form-control" placeholder="Confirm Password">
          </div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Confirm</button>
          </div>
        </form>
      </div>
      <div class="footer pt-3 mdb-color lighten-3">
        <div class="row mt-2 mb-6 d-flex justify-content-center">
          <a class="fa-lg p-2 m-2 fb-ic"><i class="fa fa-facebook white-text fa-lg"> </i></a>
          <a class="fa-lg p-2 m-2 tw-ic"><i class="fa fa-twitter white-text fa-lg"> </i></a>
          <a class="fa-lg p-2 m-2 gplus-ic"><i class="fa fa-google-plus white-text fa-lg"> </i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<app-home-footer></app-home-footer>-->
