<br> <br>

<div style="width:800px; margin:0 auto;width:800px; margin:0 auto;" class="container" id="main" >
    <form >
   <div class="form-group row">
      <div class="col-sm-5">
        <label><i><img src="../../../assets/img/hospital.png"></i> Hospital Name</label>
        <select id="cmbHospitalName" class="form-control"></select>
        </div>
                <div class="col-md-6">
                <label for="hospitalId"><i><img src="../../../assets/img/icons8-contact-25(1).png"></i> Hospital Id</label>
                <input class="form-control" type="text" id="txthospitalId" name="hospitalId" disabled>
            </div>
        </div>

<!--<div class="col-sm-5" hidden="hidden">
       <input type="text">
   </div>-->

     <div class="col-sm-5" hidden="hidden">
         <input type="text" id="removedoctorId" name="removedoctorId">
          <input type="text" id="speciality " name="removespeciality ">
           <input type="text" id="removehospitalId" name="removehospitalId">
            <input type="text" id="removedateId" name="removedateId">
         </div>

        <div class="form-group row">
            <div class="col-md-6">
                <button class="button delete">Remove </button>

                <button class="button cancel">Cancel</button>

            </div>
        </div>
    </form>
</div>

<br> <br>
