<br>
<br>
<section class="page-section about-heading">
  <div class="container">
    <div class="intro">
      <form>
        <div class="card">
          <div class="card-body mx-4">
            <div class="text-center">
              <h3 class="pink-text mb-5"><strong>Sign In</strong></h3>
            </div>
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="txtUserName" class="form-control" placeholder="User Name">
            </div>
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="txtPassword" class="form-control" placeholder="User Name">
            </div>
            <br>
            <div class="text-center">
              <button class="btn btn-primary" type="button" >Sign In</button>
            </div>
          </div>
          <div class="footer pt-3 mdb-color lighten-3">
            <!--<div class="row d-flex justify-content-center">-->
              <!--<p class="font-small white-text mb-2 pt-3">or Sign up with:</p>-->
            <!--</div>-->
            <div class="row mt-2 mb-3 d-flex justify-content-center">
              <a class="fa-lg p-2 m-2 fb-ic"><i class="fa fa-facebook white-text fa-lg"> </i></a>
              <a class="fa-lg p-2 m-2 tw-ic"><i class="fa fa-twitter white-text fa-lg"> </i></a>
              <a class="fa-lg p-2 m-2 gplus-ic"><i class="fa fa-google-plus white-text fa-lg"> </i></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

