<br>
<br>
<div class="container" id="main">
  <br>
  <br>
  <div class="text-center">
    <h3 class="pink-text mb-5"><strong>Remove Specialty</strong></h3>
  </div>
  <form>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-8">
          <label><i><img src="../../../assets/img/speciality.png"></i>  Select  Specialty : </label>
          <select id="cmbSpecialtyRemoveSpecialty" class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <button class="button delete" id="btnRemoveSpecialty">Remove</button>
      <button class="button cancel">Cancel</button>
    </div>
  </form>
  <br>
</div>
<br>
<br>
