
   <br> <br>
<!--<div style="width:800px; margin:0 auto;width:800px; margin:0 auto;">

   <div class="row">

      <div class="col-sm-5">
        <label>Doctor Name</label>
        <select id="cmbIDoctorName" class="form-control"></select>
        </div>

     <div class="col-sm-4">
      <label for="txtSpeciality">Speciality</label>
       <input type="text" name="speciality" class="form-control" id="txtSpeciality">
        </div>

         <div class="col-sm-5">
        <label>All Hospitals</label>
        <select id="cmbAllHospitals" class="form-control"></select>
        </div>

         <div class="col-sm-3">
        <label>Date</label>
        <select id="cmbdate" class="form-control">
       
        <option value="sunday">Sunday</option>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
        </select> 
        </div>
          
    <div class="row">

      <div class="col-sm-3">
       <label for="txtTimePeriod">Time Period</label>
       <input type="text" name="timePeriod" class="form-control" id="txtTimePeriod">
        </div>

      <div class="col-sm-3">
       <label for="txtPatientsPerDay">Patients PerDay</label>
       <input type="text" name="patientsPerDay" class="form-control" id="txtPatientsPerDay">
        </div>

   

       <div class="form-group">

                <table id="tblSchedule" class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                      
                         <th> Date </th>
                          <th>Time Periad</th>
                           <th>Patients PerDay</th>
                     
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
</div>
  <div class="col-sm-2">
    <button class="button btnAdd" >Confirm</button>
    </div>
    </div>
</div>-->

<div style="width:800px; margin:0 auto;width:800px; margin:0 auto;" class="container" id="main" >
    <form >



     
        <div class="form-group row">
            <div class="col-md-6">
                <label for="hospitalName">Hospital Name</label>
                <input class="form-control" type="text" id="txthospitalName" name="hospitalName" placeholder="Enter Hospital Name...">
            </div>
        </div> 
    
   
        <div class="form-group row">
            <div class="col-md-6">
                <button class="button addHospital">Confirm</button>
                <button class="button cancel">Cancel</button>
   
            </div>
        </div>
    </form>
</div>

<br> <br>  