.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.add {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.add:hover {
  background-color: #008CBA;
  color: white;
}
.cancel {
  background-color: white;
  color: black;
  border: 2px solid #808080;
}

.cancel:hover {
  background-color: #808080;
  color: white;
}
.update {
  background-color: white;
  color: black;
  border: 2px solid rebeccapurple;
}

.update:hover {
  background-color: rebeccapurple;
  color: white;
}

.delete {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.delete:hover {
  background-color: red;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#main {
  border-radius: 5px;
  background-color: #f2f2f2;
  /*padding: 20px;*/
  width: 800px;
  margin: 0 auto;
}
