<br>
<br>
<div class="container" id="main">
  <br>
  <br>
  <div class="text-center">
    <h3 class="pink-text mb-5"><strong>New Specialty</strong></h3>
  </div>
  <form>
    <div class="md-form">
      <div class="col-md-6">
        <i><img src="../../../assets/img/speciality.png"></i>
        <br>
        <input class="form-control" type="text" id="txtSpecialtyNameAddSpecialty" name="specialtyNameAddSpecialty"
               placeholder="  Enter Specialty Name...">
      </div>
    </div>
    <br>
    <div class="col-md-6">
      <button class="button add">Confirm</button>
      <button class="button cancel">Cancel</button>
    </div>
  </form>
  <br>
</div>
<br>
<br>
