<br>
<div class="container" id="main">
  <form >
    <div class="form-group row">
      <div class="col-md-4">
        <label for="sname"><i><img src="../../../assets/img/speciality.png"></i>  Specialty Name</label>
        <input class="form-control" type="specialty" id="specialty" name="specialty" placeholder="Enter Specialty" autofocus>
      </div>
      <div class="col-md-2"  hidden="hidden">
        <input id="sname" class="form-control" type="text" name="sid">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <button class="button add">Save</button>
        <button class="button cancel">Cancel</button>
      </div>
    </div>
  </form>
</div>
